<!--    Not sure which Model is using for AddEdit view page -->
@model ToTask

<div class="container">
    <h2> Task Description</h2>

    <form method="post" class="row g-3">
        <input type="hidden" asp-for="TaskId" />

        <!-- Task Name -->
        <div class="col-md-6">
            <label class="form-label">Task Name:</label>
            <input asp-for="TaskDescription" class="form-control" required />
        </div>

        <!-- Due Date -->
        <div class="col-md-6">
            <label class="form-label">Due Date:</label>
            <input type="date" asp-for="DueDate" class="form-control" />
        </div>

        <!-- Quadrant Selection -->
        <div class="col-md-6">
            <label class="form-label">Quadrant:</label>
            <select asp-for="Quadrant" class="form-select" required>
                <option value="1">Quadrant 1: Important / Urgent</option>
                <option value="2">Quadrant 2: Important / Not Urgent</option>
                <option value="3">Quadrant 3: Not Important / Urgent</option>
                <option value="4">Quadrant 4: Not Important / Not Urgent</option>
            </select>
        </div>

        <!-- Category Selection -->
        <div class="col-md-6">
            <label class="form-label">Category:</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category, "CategoryId", "CategoryName"))">
                <option value="None">Select A Category</option>
                @foreach (Category c in ViewBag.Category)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
        </div>

        <!-- Completed Checkbox -->
        <div class="col-md-12 form-check">

            <input type="hidden" name="Completed" value="0" />
            <input type="checkbox" name="Completed" value="1" class="form-check-input" />
            <label class="form-check-label">Completed</label>
        </div>

        <!-- Buttons -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save Task</button>
        </div>
    </form>
</div>
